.content{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.title{
    font-weight: 500;
    font-size: 35px;
    line-height: 127%;
    letter-spacing: 0.05em;
    z-index: 2;
    position: relative;
    margin-top: 5px;
}
.title::first-letter{
    color: white;
    font-weight: 700;
}
.text{
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.07em;
    margin-left: 35px;
    max-width: 535px;
}
.orangeBlock{
    background-color: var(--first-letter-color);
    width: 59px;
    height: 58px;
    position: absolute;
    z-index: 1;
    left: -36px;
}