.body{
    display: flex;
    align-items: center;
}
.infoBlock{
    max-width: 570px;
}
.imgBlock{
    width: 100%;
    display: flex;
    justify-content: center;
}
.title{
    font-weight: 700;
    font-size: 30px;
    line-height: 127%;
    letter-spacing: 0.05em;

    margin-bottom: 30px;
}
.postTitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.07em;

    margin-bottom: 15px;
}
.text{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.07em;
}