.body{
    position: relative;
    height: 543px;
}
.infoBlock{
    padding-top: 66px;
}
.infoBody{
    width: 538px;
    height: 247px;
    background-color: var(--dark-background-color);
    color: white;
}
.infoContent{
    padding: 51px 0 0 42px;
}
.title{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.1em;
    margin-bottom: 25px;
}
.text{
    font-size: 18px;
    font-weight: 300;
    line-height: 24.3px;
    letter-spacing: 0.1em;
}
.imgBlock{
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.img{
    width: 100%;
}
.orangeBlock{
    width: 101px;
    height: 55px;
    background-color: var(--first-letter-color);
    position: absolute;
    right: 699px;
    z-index: 2;
}

@media (max-width: 800px) {
    .body{
        height: clamp( 456px, 103vw, 745px);
    }
    .infoBlock{
        padding-top: 0px;
    }
    .infoBody{
        width: 100%;
        height: 250px;

    }
    .orangeBlock{
        top: 208px;
        right: 0;
        width: 52px;
        height: 46px;
    }
    .imgBlock{
        top: 223px;
        z-index: 1;
        padding: 0 17.5px;
    }
}

@media (max-width: 500px){
    .infoContent{
        padding: 49px 17px 0 18px;
    }
    .title{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 14px;
        line-height: 18.9px;
    }
}